/* Place CSS styles here */
body {
    font-family: 'Comfortaa', cursive;
    font-family: 'Lobster', cursive;
    font-family: 'Maven Pro', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}
h1  {color: rgb(57, 48, 65);}
h2 {color: rgb(142, 124, 158);}