/* Place CSS styles here */
body {

@font-face {
    font-family:Lobster 
    src: url(<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa&family=Lobster&family=Maven+Pro&family=Ubuntu:wght@300&display=swap" rel="stylesheet">);
}
    font-family: 'Comfortaa', cursive;
    font-family: 'Lobster', cursive;
    font-family: 'Maven Pro', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}
h1  {color: rgb(57, 48, 65);}
h2 {color: rgb(142, 124, 158);}