/* Place CSS styles here */
body {
        font-family: 'Comfortaa', cursive;
    font-family: 'Maven Pro', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}
h1  {color: rgb(95, 71, 117);}
h2 {color: rgb(85, 159, 207);}